{% extends 'layout.html' %}

{% block title %}Remember Words{% endblock %}

{% block content %}
  <div id="progress"></div>
  <div class="question well" id="questionBox">
  </div>
  <form>
    <textarea placeholder="..." name="answer" id="answerBox"></textarea>
  </form>
  <button class="button blue" id="lookupButton" name="lookup">Forgot</button>
  <div id="statusBar"></div>
  <div id="queryResult" class="well"><b>Query results</b><div></div></div>
  <div id="forgotPool" class="well">
	  <b>Words not familiar</b>
      {% for word in forgotWords %}
	    <hr>
		{{ word }} {{ dict[word] }}
	  {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/scripts/main.js"></script>
{% endblock %}
